<h1>Pantry</h1>
<form (ngSubmit)="onSubmit()">

    <div *ngIf="pantryItems">
        <ul class="list-group">
            <label *ngFor="let item of pantryItems" class="list-group-item" [class.disabled]="item.count == 0">
                <input
                    type="radio"
                    name="pantry_item"
                    value="{{item.id}}"
                    [(ngModel)]="selectedItemId"
                    (click)="clearItemError()"
                    [disabled]="item.count == 0"
                />
                {{item.name}}

                <span class="badge">{{item.count}} left</span>
            </label>
        </ul>
    </div>
    <div *ngIf="showItemRequired" class="alert alert-danger">
        You need to select a snack to take.
    </div>

    <div class="form-group bottom" *ngIf="users">
        <select
            class="form-control"
            required
            [(ngModel)]="selectedUserId"
            [ngModelOptions]="{standalone: true}"
            name="user_id"
        >
            <option *ngFor="let user of users" [value]="user.id">
                {{user.name}}
            </option>
        </select>
        <button type="submit" class="btn btn-primary">Take a snack</button>
    </div>
</form>
